<section>
  <div class="container contentBox">
    <div class="row">
      <div class="col-4 sidebar flex-column justify-content-center">
        <div class="sidebar-link">
          New Post
        </div>
        {{#each posts as |post index|}}
          <div class="sidebar-link" {{action "selectPost" post}}>
            {{index}}. {{post.title}}
          </div>
        {{/each}}
        
      </div>
      <div class="col-8 content">
        <div class="row">
          {{selectedPost.title}}
          <br>
          {{selectedPost.content}}
        </div>
        {{#each selectedPost.comments as |comment|}}
          {{comment.body}}
        {{/each}}
      </div>
    </div>
  </div>
</section>


{{#post-editor post=selectedPost onSave=(action 'save')}}

{{/post-editor}}